bleach==4.1.0
build==0.7.0
certifi==2020.6.20
cffi==1.15.0
charset-normalizer==2.0.9
colorama==0.4.4
-e git+ssh://git@github.com/OSSDevelopment-Course-2021-Autumn/colorful-festival-gy.git@050ab558fad541cd901ed4ee65464407f6424813#egg=colorful_festival_gy
Columnar==1.3.1
cryptography==36.0.1
date-string==0.2.1
docutils==0.18.1
ephem==4.1.3
idna==3.3
importlib-metadata==4.9.0
jeepney==0.7.1
keyring==23.4.0
LunarCalendar==0.0.9
packaging==21.3
pep517==0.12.0
pkginfo==1.8.2
pycparser==2.21
Pygments==2.10.0
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2021.3
readme-renderer==32.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
SecretStorage==3.3.1
six==1.16.0
string-color==1.2.1
tomli==2.0.0
toolz==0.11.2
tqdm==4.62.3
twine==3.7.1
urllib3==1.26.7
wcwidth==0.2.5
webencodings==0.5.1
zipp==3.6.0
